@charset  "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = CSS é . (pode varios elementos)
*/
body {
    background-color: rgb(185, 222, 192);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(33, 114, 34);

}

h1#principal {
    text-align: center;
    background-color: rgb(33, 114, 34);
    color: white;
}

h2 {
    color: rgb(73, 183, 93);

}
.basico {
    color:rgb(73, 183, 93);
    font-weight: bold; 

}

.intermediario {
    color: rgb(183, 167, 73);

}

.Avançado {
    color: rgb(183, 73, 73);

}

.destaque {
    background-color: rgba(209, 185, 44, 0.433);
}